/* Header */

header {
  position: relative;
}

nav {
  background-color: #212121;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 10px 70px;
  margin: 0;
  list-style-type: none;
}

.menu .menu_link {
  font-size: 15px;
  font-weight: 300;
  color: white;
  text-decoration: none;
 }

 .menu .menu_item {
  border-right: 1px dotted black;
  padding-right: 10px;
 }

/* Inscription */

.subheader {
  position: fixed;
  display: block;
  width: 100%;
  background-color: #e4e4e4;
  margin-top: 20px;
  z-index: 3;
 }

.announcement-bar {
  height: 2.5rem;
  margin-bottom: 20px;
  text-align: center;
}

.announcement-bar__message {
  font-weight: 700;
  padding: 30px 30px;
}