* {
  font-family: "Roboto", sans-serif;
}

header {
  position: relative;
}

.subheader {
  position: absolute;
  display: block;
  width: 100%;
  background-color: #e4e4e4;
  margin-top: 20px;
}

nav {
  background-color: #212121;

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;
}

.announcement-bar__message {
  display: block;
  font-weight: 700;
  margin-bottom: 0;
  padding: 30px 30px;
  color: #000;
}
.announcement-bar {
  height: 2.5rem;
  margin-bottom: 20px;
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
  min-height: 5px;
  text-decoration: none;
  background-color: #e4e4e4;
}
.menu {
  display: flex;
  justify-content: space-between;
  padding: 10px 70px;
  margin: 0;
  list-style-type: none;
}
.menu .menu_link {
  /* color: #fff; */
  font-size: 15px;
  font-weight: 300;
  color: white;
  text-decoration: none;
}
.menu .menu_item {
  border-right: 1px dotted black;
  padding-right: 10px;
}

.mobile {
  min-height: 864px;
  padding: 79px 0 20px 0;
}

.mobile_i {
  /* clear: both; */
  padding: 79px 0 20px 0;
}

.mobile .row {
  margin-top: 32px;
}
.mobile_item{
  position: relative;
  width: 320px;
  height: 280px;
  margin: 0 auto;
   /* center center/cover no-repeat; */
}

.item {

  padding: 79px 0 20px 0;
  /* margin-left: 391px; */
}

.item_img {
  width: 420px;
  height: 380px;
  float: left;
  margin-left: 20%;
  margin-top: 30px;
  margin-right: 30px;
}

.btn {
  margin-top: 20px;
  border-radius: 4px;
  background: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
  box-shadow: 0px -3px 0px 0px rgba(0, 0, 0, 0.12) inset;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  /* background-color: #e4e4e4; */
}

.item_under {
  position: relative;
  width: 320px;
  font-size: 15px;
  font-family: Courier New, Courier, monospace;
  font-style: normal;
  font-weight: 400;
  color: #000;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
.item_under_price {
  font-family: Roboto;
  font-weight: 400;
  line-height: 31px;
  text-transform: uppercase;
  margin-bottom: 19px;
}
.item_40 {
  padding-top: 35px;
  font-size: 15px;
  font-family: Courier New, Courier, monospace;
  font-style: normal;
  font-weight: 400;
  color: #000;
  line-height: 1.6;
  text-transform: uppercase;
}

.text_about_us {
  padding-top: 35px;
  font-size: 15px;
  font-family: Courier New, Courier, monospace;
  font-style: normal;
  font-weight: 400;
  color: #000;
  line-height: 1.6;
  text-transform: uppercase;
  /* text-align: center; */
  padding-left: 20%;
}

.item_about_us {
  padding-top: 35px;
  font-size: 15px;
  font-family: Courier New, Courier, monospace;
  font-style: normal;
  font-weight: 400;
  color: #000;
  line-height: 1.6;
  text-transform: uppercase;
  /* text-align: center; */
  padding-left: 20%;
}
/* .item_additional_dscr {
  font-size: 15px;
  font-family: Courier New, Courier, monospace;
  font-style: normal;
  font-weight: 400;
  color: #000;
  line-height: 1.6;
  text-align: left;
  text-transform: uppercase;
} */


.product_link {
  padding-top: 20px;
  color: white;
  text-decoration: none;
}

.product_link_2 {
  font-size: 15px;
  font-family: Courier New, Courier, monospace;
  font-style: normal;
  font-weight: 400;
  color: #000;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
  padding-top: 40px;

  padding-top: 20px;

  text-decoration: none;
}

.message {
  font-size: 15px;
  font-family: Courier New, Courier, monospace;
  font-style: normal;
  font-weight: 400;
  color: #000;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
  padding-top: 40px;
}



.medium-up--grid--table {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin-left: 0;
  text-align: center;
}

.about_us {
  font-size: 15px;
  font-weight: 300;
  color: black;
  text-decoration: none;
  text-decoration: underline;
}

.about_us_link {
  font-size: 15px;
  font-weight: 300;
  color: black;
  text-decoration: none;
  text-decoration: underline;
  font-family: Courier New, Courier, monospace;
  font-style: normal;
  font-weight: 400;
  color: #000;
  line-height: 1.6;
  text-transform: uppercase;
}


.form_auth_block{
    width: 500px;
    height: 500px;
    margin: 0 auto;
    background-size: cover;
    border-radius: 4px;
}
.form_auth_block_content{
  padding-top: 15%;
}
.form_auth_block_head_text{
    display: block;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    background: #ffffff;
    opacity: 0.7;
}
.form_auth_block label{
    display: block;
    text-align: center;
    padding: 10px;
    background: #ffffff;
    opacity: 0.7;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 10px;
}
.form_auth_block input{
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 45px;
  border-radius: 10px;
  border:none;
  outline: none;
}
input:focus {
  color: #000000;
  border-radius: 10px;
  border: 2px solid #436fea;
}
.form_auth_button{
    display: block;
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 10px;
    height: 35px;
    border: none;
    cursor: pointer;
}