<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <div th:insert="~{head :: head_fragment}"></div>
</head>

<body>
<div th:fragment="menu_fragment">
    <header>
        <div class="subheader">
            <div class="container">
                <div class="announcement-bar">
                    <p class="announcement-bar__message">
                        "Vse chto ya vizhu, ya nenavizhu"
                    </p>
                </div>
            </div>
        </div>
        <nav>
            <div class="container">
                <ul class="menu">
                    <li class="menu_item">
                        <a href="index.html" th:href="@{/jewelry/type/all}" class="menu_link">All product</a>
                    </li>
                    <li class="menu_item">
                        <a href="earrings.html" th:href="@{/jewelry/type/earrings}" class="menu_link">Earrings</a>
                    </li>
                    <li class="menu_item">
                        <a href="chain.html" th:href="@{/jewelry/type/chain}" class="menu_link">Neaclaces</a>
                    </li>
                    <li class="menu_item">
                        <a href="sunglasses.html" th:href="@{/jewelry/type/sunglasses}" class="menu_link">Sunglasses</a>
                    </li>
                    <li class="menu_item">
                        <!--                        Почему тут products а не bracelet?-->
                        <a href="products.html" th:href="@{/jewelry/type/bracelet}" class="menu_link">Bracelets</a>
                    </li>
                    <li class="menu_item">
                        <!--            <a class="menu_link" th:href="@{/registration}"><i class="fa-regular fa-user"></i-->
                        <!--            ></a>-->
                    </li>
                    <li class="menu_item">
                        <!--            <a href="#" class="menu_link"-->
                        <!--            ><i class="fa-solid fa-basket-shopping"></i-->
                        <!--            ></a>-->
                    </li>
                </ul>
            </div>
        </nav>
    </header>
</div>

</body>
</html>