<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <div th:insert="~{head :: head_fragment}"></div>
</head>

<body>
<div th:fragment="menu_fragment">
    <header>
        <div class="subheader">
            <div class="container">
                <div class="announcement-bar">
                    <p class="announcement-bar__message">
                        "Vse chto ya vizhu, ya nenavizhu"
                    </p>
                </div>
            </div>
        </div>
        <nav>
            <div class="container">
                <ul class="menu">
                    <li class="menu_item">
                        <a th:href="@{/jewelry/type/all}" class="menu_link">All product</a>
                    </li>
                    <li class="menu_item">
                        <a th:href="@{/jewelry/type/earrings}" class="menu_link">Earrings</a>
                    </li>
                    <li class="menu_item">
                        <a th:href="@{/jewelry/type/chain}" class="menu_link">Neaclaces</a>
                    </li>
                    <li class="menu_item">
                        <a th:href="@{/jewelry/type/sunglasses}" class="menu_link">Sunglasses</a>
                    </li>
                    <li class="menu_item">
                        <a th:href="@{/jewelry/type/bracelet}" class="menu_link">Bracelets</a>
                    </li>
                    <li class="menu_item">
                        <a href="#" class="menu_link">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                        </svg>
                        </a>
                    </li>
                    <li class="menu_item">
                        <a href="#" class="menu_link">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bucket" viewBox="0 0 16 16">
                            <path d="M2.522 5H2a.5.5 0 0 0-.494.574l1.372 9.149A1.5 1.5 0 0 0 4.36 16h7.278a1.5 1.5 0 0 0 1.483-1.277l1.373-9.149A.5.5 0 0 0 14 5h-.522A5.5 5.5 0 0 0 2.522 5zm1.005 0a4.5 4.5 0 0 1 8.945 0H3.527zm9.892 1-1.286 8.574a.5.5 0 0 1-.494.426H4.36a.5.5 0 0 1-.494-.426L2.58 6h10.838z"/>
                        </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
</div>

</body>
</html>