<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <div th:insert="~{head :: head_fragment}"></div>
</head>
<body>

<header>
    <div th:insert="~{menu :: menu_fragment}"></div>
</header>

<section class="mobile">
    <div class="container">
        <div class="row" th:each="product : ${products}">
            <div class="col-md-4">
                <!--                <a href="product.html" th:href="@{${product.link}}" class="product_link">-->
                <!--                    <img width="100px" height="100px" th:src="${product.photo}" alt="">-->
                <img class="mobile_item" th:src="${product.photo}" alt="">
                <div class="item_under">
                    <p th:text="|${product.name}|">
                    <div class="item_under_price">
                        <p th:text="|${product.price}€|">
                    </div>
                    <a th:href="@{/jewelry/id/{id}(id=${product.id})}">
                        <button type="button" class="btn btn-info">Посмотреть</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div th:insert="~{subheader :: subheader_fragment}"></div>
</section>

</body>
</html>
