<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <div th:insert="~{head :: head_fragment}"></div>
</head>

<body>
<header>
    <div th:insert="~{menu :: menu_fragment}"></div>
</header>

<section class="item mobile">
    <div class="item_40">
        <img class="mobile_item item_img" th:src="${product.photo}" alt="">
        <br/>
        name:
        <br/>
        <p th:text="|${product.name}|">
            <br/>

            <br/>
        <div class="item_under_price">
            price:
            <p th:text="|${product.price}€|">
        </div>

        color:
        <p th:text="|${product.color}|">
            <br/><br/>

            <br/><br/>
        <div class="item_under_price"><a href="#" class="product_link_2">
            <button>buy</button>
        </a>
        </div>
        Description:
        <p th:text="|${product.description}|">
    </div>
</section>

<section>
    <div th:insert="~{subheader :: subheader_fragment}"></div>
</section>

</body>
</html>