<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <div th:insert="~{head :: head_fragment}"></div>
</head>
<body>

<header>
    <div th:insert="~{menu :: menu_fragment}"></div>
    <div th:insert="~{search :: search_fragment}"></div>
</header>

<section class="mobile">
    <div class="container">
        <div class="row">
            <div class="col-md-4" th:each="product : ${products}">
                <a th:href="@{/jewelry/id/{id}(id=${product.id})}">
                    <img class="mobile_item" th:src="${product.photo}" alt="">
                    <div class="item_under">
                        <p th:text="|${product.name}|">
                        <div class="item_under_price">
                            <p th:text="|${product.price}€|">
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<section>
    <div th:insert="~{subheader :: subheader_fragment}"></div>
</section>

</body>
</html>
